:root {
  --primary-color: rgb(20, 228, 20);
  --secondary-color: #2ecc71;
  --background-color: #000;
  --text-color: rgb(20, 228, 20);
  --box-shadow-color: rgba(255, 255, 255, 0.1);
  --chart-line-color: #fff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
}

header {
  background: var(--primary-color);
  padding: 1rem;
  text-align: center;
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primary-color);
  padding-top: 1%;
}

.card,
.box {
  border-radius: 25px;
  height: fit-content;
  margin-left: 2.5%;
  margin-bottom: 2.7%;
  box-sizing: border-box;
}

.card {
  background: #34495e;
  box-shadow: 0 2px 5px var(--box-shadow-color);
  padding: 1rem;
  width: calc(33.33% - 1rem);
}

.box {
  background: #021527;
  width: 95%;
  box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.8);
}

.chart {
  width: 100%;
  height: 200px;
  background: #2c3e50;
  border-radius: 10px;
  box-shadow: 0 2px 5px var(--box-shadow-color);
}

.chart path {
  stroke: var(--chart-line-color);
}